<!DOCTYPE html>
<html>
<head>
	<title>edit review</title>
	<link rel="stylesheet" type="text/css" href="/css/review.css">
</head>
<body>
	<form action="/employee/edit-review/<%=id%>" method="POST" id="form-review">
		<label for="review" id="label-review">Review:</label>
		<textarea rows="5" cols="50" name="review" id="review"></textarea>

		
		<input type="submit" value="Give Review">
	</form>
</body>
</html>
