<!DOCTYPE html>
<html>
<head>
	<title>START</title>
	<link rel="stylesheet" type="text/css" href="/css/start.css">
</head>
<body>
    <p id="head">EMPLOYEE REVIEW SYSTEM</p>
    <a href="/sign-in" id="div1">Sign in</a>
    <a href="/sign-up" id="div2">Sign Up</a>
</body>
</html>